.bg-cover {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-cotain {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cotain;
}

.text-hide {
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
