<nav class="w-296p bg-gray-100 flex-column d-flex flex-shrink-0">
  <div class="mb-8 pt-8 px-8">
    <a href="index.html" class="d-block">
      <img src="../assets/images/logo-ANSWER.svg" alt="Answer logo"
    /></a>
  </div>
  <ul class="navSide">
    <li class="mb-6">
      <a
        href="#"
        class="d-flex align-items-center fw-bold ps-8 lh-lg bg-gray-400-hover navSide__link"
      >
        <span class="material-icons fs-1 me-4"> assessment </span>
        Dashboard</a
      >
    </li>
    <li class="mb-6">
      <a
        href="#"
        class="d-flex align-items-center fw-bold ps-8 lh-lg bg-gray-400-hover navSide__link"
      >
        <span class="material-icons fs-1 me-4"> question_answer </span>
        Question</a
      >
    </li>
    <li class="mb-6">
      <a
        href="index.html"
        class="d-flex align-items-center fw-bold ps-8 lh-lg bg-gray-400-hover navSide__link <%= page === 'assignment' ? 'active' : '' %>"
      >
        <span class="material-icons fs-1 me-4"> assignment </span>
        Assignment</a
      >
    </li>
    <li class="mb-6">
      <a
        href="#"
        class="d-flex align-items-center fw-bold ps-8 lh-lg bg-gray-400-hover navSide__link"
      >
        <span class="material-icons fs-1 me-4"> video_library </span>
        Course</a
      >
    </li>
    <li class="mb-6">
      <a
        href="admin.html"
        class="d-flex align-items-center fw-bold ps-8 lh-lg bg-gray-400-hover navSide__link <%= page === 'admin' ? 'active' : '' %>"
      >
        <span class="material-icons fs-1 me-4"> people </span>
        Admin</a
      >
    </li>
    <li>
      <a
        href="#"
        class="d-flex align-items-center fw-bold ps-8 lh-lg bg-gray-400-hover navSide__link"
      >
        <span class="material-icons fs-1 me-4"> settings </span>
        Settings</a
      >
    </li>
  </ul>
  <div class="mt-auto px-8 pb-8 d-flex align-items-center">
    <img
      src="../assets/images/andychen.jpeg"
      alt="people-image"
      class="w-40p h-40p rounded-circle object-fit-cover me-4"
    />
    <div>
      <p class="fw-bold mb-1">Andy Chen</p>
      <p class="fs-4 text-gray-600">andy0401@mail.com</p>
    </div>
  </div>
</nav>
